
@media (max-width:990px){
    .input_text{
        display: none;
    }
    .btn-pc{
        display: none;
    }
    .link-pc{
        display: none;
    }
}
@media (max-width:768px){
    .input_text{
        display: none;
    }
    .btn-pc{
        display: none;
    }
    .link-pc{
        display: none;
    }
}